.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/dynamic-webapps/library-management-bg.png');
    height: 35vh;
    background-size: cover;
}

.heading {
    color: #ffffff;
}

.inputEl {
    width: 250px;
}

.no-result-heading {
    color: #323f4b;
    text-align: center;
    font-size: 30px;
    font-family: "Roboto";
}